# Note that not all variables here might be in use for your selected configuration

# Blockfrost
BLOCKFROST_TESTNET_URL=
TESTNET_PROJECT_ID=
BLOCKFROST_MAINNET_URL=
MAINNET_URL=

# Prisma
DATABASE_URL=

# Next Auth
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# Next Auth Github Provider
GITHUB_ID=
GITHUB_SECRET=
